#heading {
  display: flex;
  justify-content: center;
  color: #4b536d;
}

#intro {
  text-align: center;
  color: #ff6c56;
}

#form-wrapper {
  display: inline-grid;
  text-align: center;
}

.form-item {
  margin: 0.6rem;
}

button,
.submit-button {
  margin-top: 5px;
  margin-left: 15px;
  color: white;
  background-color: #ff6c56;
  padding: 10px;
  border-radius: 1em;
  font-size: 17px;
  font-family: "Baloo Chettan";
}
#delete-all {
  padding: 14px;
}

#select {
  color: white;
  background-color: green;
  padding: 10px;
  font-size: 15px;
  font-family: "Baloo Chettan";
  margin-top: 10px;
}

#select-result {
  margin-left: 13px;
}

input {
  border-radius: 1em;
  display: flex;
}

body {
  font-family: "Baloo Chettan";
  font-size: 24px;
  color: #1aa088;
}

.content {
  align-items: center;
  margin-left: 44%;
  margin-top: 5em;
}

.diet {
  margin-left: 1em;
}

img {
  position: absolute;
  left: 3%;
}

.h1 {
  text-align: center;
  color: #4b536d;
}

#animal-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  text-decoration: underline;
}

.animal-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #4b536d;
  border-radius: 1em;
  background: #ff6c56;
  justify-content: center;
  color: white;
}
